/* Основные настройки */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f7f4f0;
    color: #3b3b3b;
    line-height: 1.6;
    padding: 10px;
}

/* Навигация */
.navigation_container {
    background-color: #f4efe8;
    padding: 15px;
    border-bottom: 2px solid #d8d2c4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tasks_navigation {
    display: flex;
    justify-content: space-around;
}

.a_task {
    text-decoration: none;
    color: #5c5c5c;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.a_task:hover {
    background-color: #e0dbc8;
    color: #3b3b3b;
}

/* Заголовок и подвал */
header {
    background-color: #b0a895;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #a0927c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: #f4efe8;
    color: #5c5c5c;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
    border-top: 2px solid #d8d2c4;
    margin-top: 20px;
}

/* Контентные блоки */
.first_article,
.historia,
.verzie,
.zaujmavosti {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 25px;
    max-width: 800px;
    border: 1px solid #dcd6c4;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для Resume */
.banner {
    background-color: #b0a895;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #a0927c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.banner h1 {
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.resume-container {
    display: flex;
    max-width: 900px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.resume-left, .resume-right {
    padding: 20px;
    flex: 1;
}

.resume-left {
    background-color: #f4efe8;
    border-right: 2px solid #d8d2c4;
}

.resume-image img {
    max-width: 30%;
    max-height: 30%;
    margin: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-section h3 {
    font-size: 1.5em;
    color: #7b7160;
    margin-bottom: 10px;
    border-bottom: 2px solid #f4c842;
    padding-bottom: 5px;
}

.resume-info {
    display: flex;
    justify-content: space-between;
}

.resume-info-left, .resume-info-right {
    width: 45%;
}

.resume-info-left p, .resume-info-right p {
    margin: 5px 0;
}

.resume-info-left p strong, .resume-info-right p strong {
    font-weight: bold;
    color: #3b3b3b;
}

.resume-section p {
    margin: 10px 0;
}

a {
    color: #b0a895;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    background-color: #b0a895;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #9c8e77;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
}

button a {
    color: inherit;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}


#algorithm, #algorithm2, #algorithm3, #algorithm4, #algorithm5 {
    display: none;
    background-color: #f9f7f4;
    color: #3b3b3b;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #d8d2c4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

button.active {
    background-color: #9c8e77;
}
